greenlifebd.com / southern - designers

https://www.centro.com.bd/
https://dongyi.hk/
https://anooshasourcing.com/
https://pdsltd.com/


greenlifebd.com / southern-designers 

landing page
	1. Intro Video. #complete
	2. Main Service #complete
	3. Extra Service #complete
	4. Counters #complete
	5. Client Service Highlight #complete
	6. Product Showcase with carousel & Category filtering #complete - filtering not possible
	7. Brand Carousel #complete
	8. Basic Contact Form #complete
	9. Regular Footer #complete

Menu 
	1. Home
	2. Product
	3. About
	4. Contact - (Our Global Presence)
	5. Sustainability
	6. Media

Sustainability Page
	1. Heading - Paragraph Content
	2. Services
	3. Intro Videos
	4. Showcase Products

Media Page
	1. Image Gallery
	2. Video Gallery

Note: [Banner Background Image in All Page]